# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# test & dev files
tests/
dev/

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Visual Studio Code
.vscode/
*.code-workspace

