# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data and output folders
data/
output/

# test files
tests/

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Visual Studio Code
.vscode/
*.code-workspace

